#head{
  width: 100vw;
}
h3 {
  margin: auto;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 3em;
  text-align: justify;
  text-shadow: #30eaf071 3px 5px 9px, #ffe03367 -5px -3px 9px;
  width: 750px;
}

#fundo {
  display: none;
  position: relative;
  border-radius: 20px;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 720px;
  min-width: 1300px;
  padding-bottom: 30px;
  height: 100%;
  width: 100vw;
  transition: all 0.3s;
  box-shadow:  #0000009c 23px 21px 62px 20px;
}

#menu {
  position: relative;
  top: 100px;
  width: 780px;
  height: 100px;
  max-height: 900px;
  max-width: 800px;
  padding: 10px;
  border: 5px solid #efcf17e8;
  box-shadow: inset #30eaf031 0px 0px 93px 0px, #a38c08 -15px 0px 50px,
    #ffe033 17px 0px 50px;
  border-radius: 10px;
}
#titulo{
  max-width: 750px;
  max-height: 75px;
}
div.tituloimg img {
  display: block;
  margin: 20px;
  border-radius: 30%;
  animation: roda 2s alternate infinite;
}

#pedraimg {
  margin: 55px 20px
}

#tesouraimg {
  margin: 35px 20px
}

label#pedra,label#papel,label#tesoura{
  position: relative;
} 
label#pedra {
  right: 40px;
}
label#papel {
  left: 25px;
}
label#tesoura {
  left: 77px;
}

#startgame {
  position: relative;
  top: 150px;
  margin: auto;
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 50px;
  white-space: normal;
  text-align: center;
  width: 140px;
  font-size: 1.5em;
  font-weight: bolder;
  font-family: var(--fonte-padrao);
  border: 2px solid #000000e8;
  box-shadow: inset #f000a06c 0px -20px 20px 0px, inset #30eaf05e 0px 20px 20px 0px;
  transition: all 0.5s;
  cursor: pointer;
}

#startgame:hover {
  padding: 10px;
  width: 150px;
  font-size: 1.7em;
  border: 2px solid #000000e8;
  box-shadow: inset #f000a2 0px -20px 20px 0px, inset #30eaf0 0px 20px 20px 0px;
  transition: all 1s;
}

div#intrucoes{
  display: none;
  position: relative;
  top: 150px;
  font-family: var(--fonte-padrao);
  color: white;
  font-size: 7em;
  font-weight: 900;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: #a10a7ed3 5px 3px 0px, #ffc109d0 -3px -2px 0px;
  white-space: nowrap;
  padding: 0px;
  animation: tpulse 1500ms infinite;
  cursor: default;
}
#loadingjokenpo {
  position:  relative;
  top: 50px;
  bottom:  25px;
  display: none;
  width: auto;
}
.progress {
  position: relative;
  top: 50px;
  height: 10px;
  width: 90vw;
  border: 2.5px double #efcf17;
  border-radius: 15px;
  animation: pulse 1500ms infinite;
}

#win{
  display: none;
  position: absolute;
  top: 150px;
  left: 0px;
  width: 100%;
  opacity: 80%;
}

.pedraico,.papelico, .tesouraico {
  display: inline;
  position: relative;
  background-image: url('../imagens/pedrar100.ico');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px; 
  height:100px;
  display: inline-block;
  animation: roda 1s alternate infinite;
}

.papelico{
  background-image: url('../imagens/papelr100.ico');
}

.tesouraico{
  background-image: url('../imagens/tesourar100.ico');
  visibility: visible;
}

/* Animações*/
@keyframes clarear {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.98)
  }
}

@keyframes derrota {
  0% {
    background-color: rgba(0, 0, 0, 0.98);
  }
  100% {
    background-color: rgba(43, 0, 0, 0.98)
  }
}

@keyframes empate {
  0% {
    background-color: rgba(0, 0, 0, 0.98);
  }
  100% {
    background-color: rgb(47, 47, 47)
  }
}

@keyframes roda {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes tpulse {
  0% {
    text-shadow: #a10a7ed3 5px 3px 0px, #ffc109d0 -3px -2px 0px,
      #efcf17 0 0 15px;
  }
  75% {
    text-shadow: #a10a7ed3 5px 3px 0px, #ffc109d0 -3px -2px 0px,
      #ffa0ea 0 0px 30px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: #efcf17 0 0 0 0;
  }
  75% {
    box-shadow: #ffa0eb23 0 0 0px 10px;
  }
}
.progress .color {
  position: absolute;
  background-color: transparent;
  box-shadow: inset #ffffff 0px 0px 0px 3px, inset #fca2ff 16px 20px 0px 0px;
  width: 90vw;
  height: 10px;
  border-radius: 15px;
  animation: progres 15s linear;
}
@keyframes progres {
  0% {
    width: 0vw;
  }
  25% {
    width: 40vw;
  }
  50% {
    width: 65vw;
  }
  75% {
    width: 75vw;
  }
  100% {
    width: 90vw;
  }
}

@keyframes crescer {
  0% {
    width: 780px;
    height: 360px;
  }
  100% {
    width: 900px;
    height: 470px;
  }
}

@keyframes aumentartxt {
  0% {
    font-size: 100%;
  }
  100% {
    font-size: 120%;
  }
}
@keyframes shadowin {
  0% {
    box-shadow: #ff494900 0px 0px 0px 0px, inset #ff494900 0px 0px 0px 0px;
  }
  100% {
    box-shadow: #ff49496e 1px 1px 17px 15px, inset #ff49498c 1px 1px 78px 18px;
  }
}
@keyframes diminuirtxt {
  0% {
    font-size: 120%;
  }
  100% {
    font-size: 100%;
  }
}
@keyframes shadowout {
  0% {
    box-shadow: #ff49496e 1px 1px 17px 15px, inset #ff49498c 1px 1px 78px 18px;
  }
  100% {
    box-shadow: #ff494900 0px 0px 0px 0px, inset #ff494900 0px 0px 0px 0px;
  }
}
@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes slide {
  from {
    margin-top: 20px;
  }
  to {
    margin-top: 100px;
  }
}

.allprograms {
  background-image: url("../imagens/jokenpomenu.jpg");
  animation:none;
  animation: sliderjoken 15s infinite, dance 2s infinite ease-in-out alternate;
}

@keyframes sliderjoken{
  0%{
  background-color: rgb(0, 0, 0);
  background-image: url("../imagens/jokenpomenu.jpg");
  }
  23%{
  background-color: rgb(255, 255, 255);
  background-image: url("../imagens/jokenpomenu.jpg");
  }
  25%{
  background-color: rgb(0, 0, 0);
  background-image: url("../imagens/jokenpowin.jpg"); 
  }
  47%{
  background-color: rgb(255, 255, 255);
  background-image: url("../imagens/jokenpowin.jpg"); 
  }
  50%{
    background-color: rgb(0, 0, 0);
    background-image: url("../imagens/jokenpoempate.jpg");
  }
  73%{
    background-color: rgb(255, 255, 255);
    background-image: url("../imagens/jokenpoempate.jpg");
  }
  75%{
    background-color: rgb(0, 0, 0);
    background-image: url("../imagens/jokenpoperda.jpg");
  }
  97%{
    background-color: rgb(255, 255, 255);
    background-image: url("../imagens/jokenpoperda.jpg");
  }
}


.button-49{
  display:none;
  transition: all 1s;
  animation: pulse 1s infinite;
  margin-top: 110px;
  font-size: 1.3em;
  font-family: var(--fonte-padrao);
  font-weight:500
}
.button-49,
.button-49:after {
  width: 150px;
  line-height: 78px;
  background: linear-gradient(45deg, transparent 5%, rgba(248, 248, 1, 0.811) 5%);
  border: 0px;
  color: rgb(215, 6, 6);
  letter-spacing: 3px;
  box-shadow: rgb(0 230 246) 6px 0px 0px;
  filter: drop-shadow(rgba(255, 224, 51, 0.651) 0px 0px 10px);
  outline: transparent;
  text-shadow: rgb(48 234 240) -4px 3px 9px, rgb(255 224 51) -5px -3px 9px, #0000009e 0px 0px 20px;
  user-select: none;
  touch-action: manipulation;
  z-index: 10;
  cursor: pointer;
}
.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'ERROR';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 1.2em;
  font-weight: normal;
  animation: 1.5s glitch infinite;
  animation-timing-function: steps(2, end);
}
.button-49:hover{
  font-size: 1.4em;
  color: rgb(252, 0, 0);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

#stats{
  display: none;
  position: absolute;
  min-width: 150px;
  top: 100px;
  left: calc(50% - 640px);
  padding: 10px;
  border: 5px solid #efcf17e8;
  box-shadow: inset #30eaf031 0px 0px 93px 0px, #a38c08 0px 1px 14px 0px;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  transition: all 0.5s;
}

