@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&family=Exo:wght@200&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

@font-face {
  font-family: "Ahdn";
  src: url("../fontes/AHDN.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Crazy";
  src: url("../fontes/cRAZY\ sTYLE.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "star";
  src: url("../fontes/Shooting\ Star.ttf") format("truetype");
  font-weight: normal;
}
:root {
  --cbranco: 10, 10, 10;
  --cazulcl: 67, 97, 238;
  --cazules: 17, 5, 87;
  --cvermelho: 210, 1, 25;
  --cvermelhocl: 219, 62, 80;
  --fonte-aleatorio: "Ahdn", cursive;
  --fonte-crazy: "Crazy", cursive;
  --fonte-padrao: 'Chakra Petch', Verdana, sans-serif, cursive;
  --fonte-padrao2: 'Kurale',"Times new Roman", "serif", cursive;
}
* {
  margin: 0px;
  padding: 0px;
}
.grid {
  display: grid;
  place-items: center;
}
.center {
  display: table;
  margin: auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(156, 156, 156, 0.382);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0px 0px 4px 2px rgb(0, 0, 0);
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(114, 114, 114);
}
html{
  background-color: white;
  overscroll-behavior: none;
}
body {
  min-height: 100vh;
  background-color: rgb(var(--cbranco), 0.1);
  font-family: var(--fonte-padrao2);
  overflow: auto;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
}

p {
  margin: 15px 0px;
  text-align: justify;
  line-height: 2em;
}

h1{
  font-weight: 700;
  font-size: 2em;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(var(--cvermelho) ,0.8) 50%,
    rgba(var(--cazulcl) ,0.25)
  );
  padding: 10px;
  border-radius: 0px 30px;
  box-shadow: inset #00000042 -20px 5px 20px 0px;
  cursor: default;
}

header{
  position: sticky;
  top: -192px;
  left: 0px;
  z-index: 2;
}

header > div {
  background-image: linear-gradient(to top, rgb(var(--cvermelho)), rgba(var(--cazules),0.6));
  padding: 20px 10px;
  border-radius: 0px 0px 10px 10px;
  width: 98vw;
}
header > div h1 {
  position: absolute;
  top: 120px;
  left: 100px;
  display: inline;
  font-family: var(--fonte-aleatorio);
  font-size: 3.3em;
  text-align: center;
  color: rgb(var(--cazules));
  text-shadow: white 1px 1px 9px, #ffffff63 4px 3px 0px;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

header > div nav, .dropdown{
  margin: auto;
  font-family: var(--fonte-crazy);
  margin-top: 10px;
  padding: 15px;
  line-height: 2.2em;
}
header > div nav a {
  padding: 10px;
  text-align: justify;
  color: white;
  font-size: 1.2em;
  transition: all 0.5s;
}

header > div nav a:hover,.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: rgba(var(--cazules), 0.15);
  text-shadow: rgb(var(--cazulcl)) 0px 1px 9px;
  transition-duration: 0.5s;
  border-radius: 20px;
  font-size: 1.3em;
}

.dropdown .dropbtn {
  text-decoration: underline;
  font-size: 1.2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: all 0.5s;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 90px;
  border-radius: 10px;
  background-color: rgb(var(--cazules),0.4);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  backdrop-filter: blur(10px);
  z-index: 3;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1em;
  text-shadow: 0px 0px 10px black;

}
.pro-euro{
  font-family: 'star';
}
.pro-jok{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.pro-qua{ 
  font-family: var(--fonte-padrao2);
  text-transform: uppercase;
}
.dropdown-content a:hover {
  font-size: 1.1em;
  text-shadow: rgb(var(--cvermelho)) 0px 1px 9px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown i{
  margin: 5px;
}
.dropdown:hover i {
  transform: scaleY(-1);
}

#imglogo{
  display: inline-block;
  position: relative;
  top:10px;
  width:150px;
  height:150px;
  background-image: url('../imagens/novalogo.png');
  background-size: contain;
  filter: drop-shadow(rgba(255, 255, 255, 0.443) -2px 0px 11px);
}

main, .principal{
  position: relative;
  background-color: white;
  min-width: 200px;
  max-width: 1200px;
  margin: auto;
  border-radius: 5px;
  border: rgb(var(--cvermelho)) 0.05em;
  border-style: none solid;
  box-shadow: hsla(0, 0%, 0%, 0.302) 0px 7px 20px 0px;
  align-items: center;
  z-index: 1;
}

#artigo01 {
  position: relative;
  top: -50px;
  display: inline-block;
  padding: 10px;
  margin: auto 20px;
  max-width: 700px;
  border-radius: 10px;
  font-size: 1.1em;
}

#artigo01 p{
  padding: 0px 11px;
}
.allprograms{
  position: relative;
  top: 0px;
  margin: 20px;
  display: inline-block;
  width: 380px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  background-image: url("../imagens/quartoluz.jpeg");
  background-size: contain;
  background-position: center center;
  border-radius:20px;
  background-repeat: no-repeat;
  box-shadow: rgb(0 0 0 / 61%) 1px -1px 20px 11px inset, rgb(151 34 34 / 54%) 1px -1px 20px 0px, rgb(30 58 148 / 45%) 1px -1px 20px 0px;
  animation: slider 15s infinite, dance 2s infinite ease-in-out alternate;
  transform: translate(20px) 
}

@keyframes slider{
  0%{
  background-color: rgb(0, 0, 0);
  background-image: url("../imagens/quartoluz.jpeg");
  }
  30%{
  background-color: rgb(25, 25, 25);
  background-image: url("../imagens/quartoluz.jpeg");
  }
  33%{
  background-color: rgb(0, 0, 0);
  background-image: url("../imagens/jokenpomenu.jpg"); 
  }
  60%{
  background-color: rgb(255, 255, 255);
  background-image: url("../imagens/jokenpomenu.jpg"); 
  }
  66%{
    background-color: rgb(0, 0, 0);
    background-image: url("../imagens/euromilhoesmenu.jpg");
  }
  90%{
    background-color: rgb(255, 255, 255);
    background-image: url("../imagens/euromilhoesmenu.jpg");
  }
}

@keyframes dance{
  from {
    transform: translate(-20px) rotate(-2deg);
  }
  to{
    transform: translate(20px) rotate(2deg);
  }
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background-image:linear-gradient(to bottom,rgb(5, 5, 5), rgb(var(--cazules)));
  padding: 10px;
  color: white;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 80px 50px 40px rgb(var(--cazules));
}
footer p {
  text-align: center;
  font-weight: 500;
  font-size: 0.8em;
}

footer a{
  width: 35px;
  height: 35px;
  background-color: #282828;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  transition:all .25s;
  padding: 2px 5px 7px 5px; 
}
footer a:hover{
  background-color: #343333;
}
/*Outras paginas*/
#fechar {
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 10px;
  color: transparent;
  text-shadow: 0 0 0 rgb(0 0 0), 0px 0px 7px rgb(255 255 255),
    0px 0px 20px rgb(255 255 255), 0px 0px 15px rgb(255 255 255);
  z-index: 99;
  transition: all 0.5s;
}
#fechar:hover {
  transform: rotate(-360deg);
  text-shadow: 0 0 0 rgb(255, 255, 255), 0px 0px 7px rgb(0, 0, 0);
}
#fundo{
z-index: 3;
}

#iniciar {
  position: relative;
  top: -50px;
  left: 315px;
  background-color: rgb(var(--cvermelho), 0.7);
  border-radius: 100px;
  box-shadow: black 0 -24px 44px -44px inset,
    rgba(var(--cvermelho), 0.15) 0 1px 2px,
    rgba(var(--cvermelho), 0.15) 0 2px 10px,
    rgba(var(--cvermelho), 0.15) 0 4px 8px,
    rgba(var(--cvermelho), 0.15) 0 8px 16px,
    rgba(var(--cvermelho), 0.15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: var(--fonte-padrao);
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#iniciar:hover {
  background-color: rgb(var(--cvermelho), 0.6);
  box-shadow: rgba(var(--cvermelhocl), 0.35) 0 -25px 18px -14px inset,
    rgba(var(--cvermelhocl), 0.25) 0 1px 2px,
    rgba(var(--cvermelhocl), 0.25) 0 2px 4px,
    rgba(var(--cvermelhocl), 0.25) 0 4px 8px,
    rgba(var(--cvermelhocl), 0.25) 0 8px 16px,
    rgba(var(--cvermelhocl), 0.25) 0 16px 32px;
  transform: scale(1.1) rotate(2deg);
}

@media(max-width:1200px){
  main {
    display: grid;
    place-items: center;
  }
  #artigo01{
    top: 5%;
  }
  #iniciar{
    position:static;
    margin-bottom: 20px;
  }
}
@media(max-width:400px){
 header > div{
  min-width: 400px;
 }
}

.protitulo{
  text-align: center;
  padding: 10px;
  font-family: var(--fonte-pro);
  background-image: linear-gradient(to top, rgb(var(--cvermelhocl)), rgba(var(--cazulcl),0.7));
  text-shadow:black 0px 0px 20px;
  color: white;
  font-size: 2.5em;
  box-shadow: inset rgba(0, 0, 0, 0.454) -2px -11px 20px 0px;
}

section.imagem{
  background-color: rgb(53, 53, 53);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);
  background-attachment: fixed;
  height:500px;
}
section.imagem > p, .test{
  position: relative;
  max-width: 300px;
  background-color: #121212d9;
  color: rgb(255 255 255);
  display: inline-block;
  padding: 15px 35px;
  margin-left: 20px;
  text-shadow: 0px 0px 5px black;
  box-shadow: #ffffff2e 5px 5px 20px 0px;
  background-size: cover;
  backdrop-filter: blur(5px); 
  border-radius: 10px;
}
section.imagem > p::before, .test::before{
  content: "";
  position: absolute;
  left: 0px;
  top: calc(50% - 50px);
  width:15px;
  height:100px;
  background-image: linear-gradient(-315deg, rgb(var(--cvermelhocl)), rgba(var(--cazulcl),0.7), rgba(var(--cazules)), rgba(var(--cvermelho)));  
  border-radius: 0px 5px;
  animation: cores 15s ease infinite;
}
section.imagem > p::after, .test::after{
  content: "";
  position: absolute;
  right: 0px;
  top: calc(50% - 50px);
  width:15px;
  height:100px;
  background-image: linear-gradient(315deg, rgb(var(--cvermelhocl)), rgba(var(--cazulcl),0.7), rgba(var(--cazules)), rgba(var(--cvermelho))); 
  border-radius: 5px 0px;  
}
section.imagem > p a{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0px black;
  background-size: cover;  
  background-image: linear-gradient(rgba(var(--cazules)), rgba(var(--cazulcl)));
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: .9em;
  padding: 5px;
  text-align: left;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
}

section.imagem > p a:hover{
  box-shadow: inset rgba(255, 255, 255, 0.354) 0px 0px 5px, rgba(255, 255, 255, 0.354) 0px 0px 5px;
}

section#img01{
  background-image: url('../imagens/backgroundjokenpowin.jpg');
  background-position: center center;
  animation: slider01 30s infinite alternate;
}
section#img02{
  background-image: url('../imagens/backgroundeurogame.jpg');
  background-position: top center;
  animation: slider02 7s infinite alternate;
}
section#img02 p{
  right: calc(-100% + 400px);
  text-align: left;
}
 section#img02 a{
  background-image: linear-gradient(rgb(var(--cvermelho)), rgba(var(--cvermelhocl)));
 }
section#img03{
  background-image: url('../imagens/backgroundquarto.jpg');
  background-position: center center;
  animation: slider03 15s infinite alternate;
}
@keyframes slider01{
  from{
    background-position: left center;
  }
  to{
    background-position: right center;
  }
}

@keyframes slider02{
  from{
    background-position: top center;
  }
  to{
    background-position: bottom center;
  }
}

@keyframes slider03{
  from{
    background-position: right center;
  }
  to{
    background-position: left center;
  }
}

section#buttoncube{
  position: relative;
  box-sizing: border-box;
  height:500px;
  background-image: linear-gradient(to top,#050505, rgb(var(--cbranco)));
  transition: all 0.5s;
  padding-bottom: 50px;
  z-index: 1;
}
.cube{
  position: relative;
  top: -50px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-15deg);
  animation: animate 7s linear infinite;
  cursor:pointer;
}

@keyframes animate {
  0%{
    transform: rotateX(-15deg) rotateY(0deg);
  }
  50%{
    transform: rotateX(-30deg) rotateY(180deg);
  }
  100%{
    transform: rotateX(-15deg) rotateY(360deg);
  }
}
.cube div{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube div span{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,rgb(var(--cazules)), rgb(var(--cvermelho)));
  transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
  box-shadow: #00000042 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.cube h3{
  position: absolute;
  font-family: var(--fonte-aleatorio);
  color: rgb(var(--cazules));
  text-shadow: white 1px 1px 9px, #ffffff63 4px 3px 0px;
  font-size: 2.7em;
  transform: translateZ(30px);
}
.cube h3:nth-child(1){
  transform: translateZ(0px) translateY(10px);
  opacity: 50%;
  text-shadow: white 1px 1px 9px, #ffffff63 4px 3px 0px;
  font-size: 2.5em;
  filter: blur(2px)
}
#top{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  padding: 1px;
  background-color: #00000085;
  transform: rotateX(90deg) translateZ(100px);
  box-shadow: inset rgb(var(--cazules)) 0px 0px 400px 50px;

}

#top::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  background-color: rgb(var(--cvermelho));
  transform: translateZ(-300px);
  filter: blur(20px);
  box-shadow: 0px 0px 120px rgb(var(--cvermelho)),
  0px 0px 200px rgba(var(--cazules), 0.4),
  0px 0px 300px rgba(var(--cvermelho), 0.6),
  0px 0px 400px rgba(var(--cvermelho), 0.8),
  0px 0px 500px rgba(var(--cvermelho), 1);
}

