@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("../../imagens/quartodarkwallp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  animation:animatedwall 15s infinite cubic-bezier(1, 0.01, 0, 1) alternate;
  box-shadow: inset rgb(0 0 0 / 26%) 0px 0px 200px 100px;
}
@keyframes animatedwall{
  0%{
    background-image: url("../../imagens/quartodarkwallp.jpg");
    background-position: left center;
    box-shadow: inset rgb(0 0 0 / 26%) 0px 0px 200px 100px;
  }
  100%{
    background-image: url("../../imagens/quartoluzwallp.jpg");
    background-position: right center;
    box-shadow: inset rgba(255, 255, 255, 0.26) 0px 0px 200px 100px;
  }
}

header {
  text-align: center;
}

h1{
  font-family: ;
  font-size: 3em;
}

main {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff12;
  padding: 20px;
  margin: auto;
  min-width: 290px;
  max-width: 70vw;
}

.artigo > a {
  text-decoration: none;
}
.blocoart {
  color: white;
  text-shadow: #000000 10px 10px;
  box-shadow: #000000 5px 5px 20px 0px;
  margin: 20px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}
.blocoart:hover {
  padding: 35px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.blocoart:hover img {
  width: 105%;
}
.blocoart:hover h2 {
  color: rgb(var(--cvermelhocl));
}

.blocoart img {
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.imasize img{
  margin-top: 50px;
}

.blocoart h2{
  padding: 20px 0px;
}
