@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
.grid{
    display: grid;
    place-items: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


input[type="button"]#iniciar {
    display: inline;
    position: relative;
    top: -50px;
    left: 150px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 50px;
    font-family: var(--fonte-padrao);
    font-weight: 900;
    font-size: 1.1em;
    background-color: rgb(var(--cvermelho));
    color: white;
    transition: all 0.5s;
}
input[type="button"]#iniciar:hover{
    background-color: rgb(var(--cazulcl));
}

h3{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 3em;
    text-align: justify;
    text-shadow: #30eaf071 3px 5px 9px, #ffe03367 -5px -3px 9px;
    transition: all 0.5s;
    width: 750px;
}
h4 {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    padding: 7px 200px;
    border-bottom: 3px solid rgb(34, 48, 248);
    text-shadow: rgb(34 48 248) 1px 0px 20px;
}

#fundo{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.900) 97%, transparent);
    min-height:600px;
    min-width: 320px;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(5px);
    background-attachment: fixed;
}
div#tituloimg{
    margin: 50px auto;
    width: 750px;
    border: 5px solid #efcf17e8;
    box-shadow: inset #30eaf031 0px 0px 93px 0px, #a38c08 -15px 0px 50px, #ffe033 17px 0px 50px;
    border-radius: 10px;
}
div#tituloimg img{
    margin: 20px;
    animation-name: roda;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes roda {
    from {transform: rotate(-10deg);}
    to {transform: rotate(10deg);}
}


div#titulo span{
    display: block;
}

label#pedra{
    position: relative;
    right: 40px;
}
label#papel{
    position: relative;
    left: 25px;
}
label#tesoura{
    position: relative;
    left: 77px;
}
input#startgame::-webkit-inner-spin-button,
input#startgame::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#startgame{
    position: relative;
    top: 20px;
    left: -10px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50px;
    white-space: normal;
    text-align: center;
    width:140px;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: var(--fonte-padrao);
    border: 2px solid #000000e8;
    box-shadow: inset #f000a06c 0px -20px 20px 0px, inset #30eaf05e 0px 20px 20px 0px;
    transition: all 0.5s;
}

#startgame:hover{
    padding: 10px;
    width: 150px;
    font-size: 1.7em;
    border: 2px solid #000000e8;
    box-shadow: inset #F000A2 0px -20px 20px 0px, inset #30EAF0 0px 20px 20px 0px;
    transition: all 1s;
}
#fechar{
    position: fixed;
    right: 20px;
    top: 10px;
}

#fechar span{
    position: absolute;
    padding: 10px;
    top: -5px;
    right: -5px;
    color: transparent;
    text-shadow: 0 0 0 rgb(0 0 0), 0px 0px 7px rgb(255 255 255);
    transition: all 0.5s;
}

#fechar span:hover{
    transform: rotate(-360deg);
}

@media(max-width:600px){
    #fundo{font-size: 60%;
    }   
}

@media(max-width:900px){
    
}