@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}
.grid {
  display: grid;
  place-items: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: table;
  margin: auto;
}

input[type="button"]#iniciar {
  display: inline;
  position: relative;
  top: -50px;
  left: 150px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 50px;
  font-family: var(--fonte-padrao);
  font-weight: 900;
  font-size: 1.1em;
  background-color: rgb(var(--cvermelho));
  color: white;
  transition: all 0.5s;
}
input[type="button"]#iniciar:hover {
  background-color: rgb(var(--cazulcl));
}

h3 {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 3em;
  text-align: justify;
  text-shadow: #30eaf071 3px 5px 9px, #ffe03367 -5px -3px 9px;
  transition: all 0.5s;
  width: 750px;
}
h4 {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  padding: 7px 200px;
  border-bottom: 3px solid rgb(34, 48, 248);
  text-shadow: rgb(34 48 248) 1px 0px 20px;
}

#fundo {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 600px;
  min-width: 320px;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(5px);
  background-attachment: fixed;
}

div.tituloimg {
  margin: 50px auto;
  width: 750px;
  padding: 10px 10px;
}
div.tituloimg img {
  display: block;
  margin: 20px;
  border-radius: 30%;
  animation: roda 2s alternate infinite;
}

label#pedra {
  position: relative;
  right: 40px;
}

label#papel {
  position: relative;
  left: 25px;
}
label#tesoura {
  position: relative;
  left: 77px;
}
#block{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 935px;
  height: 490px;
  transform: translate(-455px, -371px);
  border-radius: 60px;
}
#startgame {
  position: relative;
  top: 40px;
  left: -10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 5px;
  border-radius: 50px;
  white-space: normal;
  text-align: center;
  width: 140px;
  font-size: 1.5em;
  font-weight: bolder;
  font-family: var(--fonte-padrao);
  border: 2px solid #000000e8;
  box-shadow: inset #f000a06c 0px -20px 20px 0px,
    inset #30eaf05e 0px 20px 20px 0px;
  transition: all 0.5s;
}

#startgame:hover {
  padding: 10px;
  width: 150px;
  font-size: 1.7em;
  border: 2px solid #000000e8;
  box-shadow: inset #f000a2 0px -20px 20px 0px, inset #30eaf0 0px 20px 20px 0px;
  transition: all 1s;
}

div#intrucoes {
  display: none;
  position: relative;
  bottom: 30px;
  right: 10px;
  font-family: var(--fonte-padrao);
  color: white;
  font-size: 9em;
  font-weight: 900;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: #a10a7ed3 5px 3px 0px, #ffc109d0 -3px -2px 0px;
  padding: 0px;
  animation: tpulse 1500ms infinite;
}

#loadingjokenpo {
  position: relative;
  top: 80px;
  left: 10px;
  display: none;
  width: auto;
}
.progress {
  position: relative;
  top: 20px;
  height: 10px;
  width: 80%;
  border: 2.5px double #efcf17;
  border-radius: 15px;
  animation: pulse 1500ms infinite;
}


#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 295px;
  transform: translate(-380px, -370px);
  margin: 50px auto;
  padding: 10px 10px;
  border: 5px solid #efcf17e8;
  box-shadow: inset #30eaf031 0px 0px 93px 0px, #a38c08 -15px 0px 50px,
    #ffe033 17px 0px 50px;
  border-radius: 10px;
}

#win{
  visibility: hidden;
  opacity: 0%;
}

.pedraico,.papelico, .tesouraico {
  position: relative;
  background-image: url('../imagens/pedrar100.ico');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px; height:100px;
  display: inline-block;
  transform: translate(0px, 30px);
}

.papelico{
  background-image: url('../imagens/papelr100.ico');
}

.tesouraico{
  background-image: url('../imagens/tesourar100.ico');
}

/* Animações*/
@keyframes clarear {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

@keyframes roda {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@keyframes tpulse {
  0% {
    text-shadow: #a10a7ed3 5px 3px 0px, #ffc109d0 -3px -2px 0px,
      #efcf17 0 0 15px;
  }
  75% {
    text-shadow: #a10a7ed3 5px 3px 0px, #ffc109d0 -3px -2px 0px,
      #ffa0ea 0 0px 30px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: #efcf17 0 0 0 0;
  }
  75% {
    box-shadow: #ffa0eb23 0 0 0px 10px;
  }
}
.progress .color {
  position: absolute;
  background-color: transparent;
  box-shadow: inset #ffffff 0px 0px 0px 3px, inset #fca2ff 16px 20px 0px 0px;
  width: 100%;
  height: 10px;
  border-radius: 15px;
  animation: progres 15s linear;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

@keyframes crescer {
  0% {
    width: 750px;
    height: 295px;
    transform: translate(-380px, -370px);
  }
  100% {
    width: 830px;
    height: 450px;
    transform: translate(-420px, -365px);
  }
}

@keyframes aumentartxt {
  0% {
    font-size: 100%;
  }
  100% {
    font-size: 120%;
  }
}
@keyframes shadowin {
  0% {
    box-shadow: #ff494900 0px 0px 0px 0px, inset #ff494900 0px 0px 0px 0px;
  }
  100% {
    box-shadow: #ff49496e 1px 1px 17px 15px, inset #ff49498c 1px 1px 78px 18px;
  }
}
@keyframes diminuirtxt {
  0% {
    font-size: 120%;
  }
  100% {
    font-size: 100%;
  }
}
@keyframes shadowout {
  0% {
    box-shadow: #ff49496e 1px 1px 17px 15px, inset #ff49498c 1px 1px 78px 18px;
  }
  100% {
    box-shadow: #ff494900 0px 0px 0px 0px, inset #ff494900 0px 0px 0px 0px;
  }
}
@keyframes selectedrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes slidepedra {
  from {
    margin-top: 20px;
    margin-left: 20px;
  }
  to {
    margin-top: 140px;
    margin-left: 490px;
  }
}
@keyframes slidepapel {
  from {
    margin-top: 20px;
  }
  to {
    margin-top: 100px;
  }
}
@keyframes slidetesoura {
  from {
    margin-top: 20px;
    margin-left: 20px;
  }
  to {
    margin-top: 100px;
    margin-left: -520px;
  }
}
/*fim das animações*/
#fechar {
  position: fixed;
  right: 20px;
  top: 10px;
}

#fechar span {
  position: absolute;
  padding: 10px;
  top: -5px;
  right: 10px;
  color: transparent;
  text-shadow: 0 0 0 rgb(0, 0, 0), 0px 0px 7px rgb(255 255 255);
  transition: all 0.5s;
}

#fechar span:hover {
  transform: rotate(-360deg);
}

@media (max-width: 600px) {
  #fundo {
    font-size: 60%;
  }
}

@media (max-width: 900px) {
}
